<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Media Explorer</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-item routerLink="/">Home</ion-item>
        <ion-item routerLink="/movies">Movies</ion-item>
        <ion-item routerLink="/video-games">Video Games</ion-item>
        <ion-item routerLink="/albums">Albums</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div id="main-content">
    <ion-router-outlet></ion-router-outlet>
  </div>
</ion-app>