<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Video Games</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-searchbar [(ngModel)]="query" (ionInput)="search($event)"></ion-searchbar>

  @for(game of videoGames; track game) {
    <ion-card>
      <img alt="Cover" src={{game.background_image}} width="400" height="400">
      <ion-card-header>
        <ion-card-title>{{ game.name }}</ion-card-title>
        <ion-card-subtitle>{{ game.released | date:'yyyy' }}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  }
</ion-content>