<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Albums</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar [(ngModel)]="query" (ionInput)="search($event)"></ion-searchbar>

  @for(album of albums; track album) {
    <ion-card>
      <img alt="Artwork" [src]="album.artworkUrl100" width="400" height="400">
      <ion-card-header>
        <ion-card-title>{{ album.collectionName }}</ion-card-title>
        <ion-card-subtitle>{{ album.artistName }}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  }
</ion-content>